body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.removeButton {
  border: none;
  background-color: transparent;
  font-weight: bold;
  scale: 1.5;
  color: gainsboro;
  transition: scale 0.25s ease;
  margin: 0 10px;
  padding: 0;
}

.removeButton:hover {
  color: grey;
  cursor: pointer;
  scale: 1.8;
}

.removeButton:active {
  color: tomato;
}

.notification {
  color: transparent;
  transition: color 0.25s ease-out;
  user-select: none;
}

.success {
  color: green;
}

.warning {
  color: orange;
}

.error {
  color: red;
}

