body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  user-select: none;
  text-align: center;
  width: 100dvw;
  height: 100dvh;
  position: fixed;
  background-color: skyblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top {
  display: grid;
  grid: repeat(2, 80px) / auto-flow;
  justify-content: center;
  align-items: center;
}

.bottom {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  max-width: 250px;
  margin-top: 50px;
}

button {
  color: black;
  background-color: yellowgreen;
  border: none;
  box-shadow: 1px 1px 1px black;
  margin: 50px;
  max-width: fit-content;
  transition: 0.25s ease;
  scale: 2;
  border-radius: 5px;
  padding: 10px;
}

button:not(.counters) {
  scale:1;
  margin: 10px;
}

.log {
  max-height: 40px;
  overflow:scroll;
}

@media (hover:hover) {
  button:hover {
    transform: translateY(-5px);
    box-shadow: 5px 5px 10px black;
    -webkit-transform: translateY(-5px);
    -o-transform: translateY(-5px);
  }
}

