body {
  padding: 15px;
  min-width: 300px;
}

.flag {
  margin: 10px;
  border: 1px solid black;
  max-width: 150px;
  max-height: 150px;
  align-self: center;
}

.weatherIcon {
  max-height: 25px;
}
